@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./public/images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}
